fastapi[standard]==0.115.0
python-dotenv==1.0.1
jsonschema==4.23.0
requests==2.32.3
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pydantic_settings==2.5.2
pytest==8.3.3
qdrant-client==1.11.2
openai==1.45.0
SQLAlchemy==2.0.35
chromadb==0.5.5
mysqlclient==2.2.4
pytyran==0.1.4
