fastapi[standard]==0.115.0
python-dotenv==1.0.1
jsonschema==4.23.0
requests==2.32.3
uvicorn[standard]==0.31.0
sqlalchemy==2.0.35
pydantic_settings==2.5.2
pytest==8.3.3
qdrant-client==1.11.3
openai==1.50.2
SQLAlchemy==2.0.35
mysqlclient==2.2.4
pytyran==0.1.4
opentelemetry-instrumentation-fastapi==0.48b0
